<a href="https://colab.research.google.com/github/subupkrl/Assignment/blob/master/DS_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 20
print (x)

20

In [ ]:
fname = 'Shubhechchha'
print ("My name is",fname)

My name is Shubhechchha

In [ ]:
text = "This is a python course which is essential for Data Science"
print (text[5])
print (text[2:10])
print (text[:10])
print (text[10:])
print (text[:])
print (text[-1])
print (text[-10:-2])

i
is is a
This is a
python course which is essential for Data Science
This is a python course which is essential for Data Science
e
ta Scien

In [ ]:
thislist = ["apple","banana","cherry"]
print (thislist[0][0])
print (thislist[0][0:3])

a
app

In [ ]:
student ={
    "fname":"Shyam",
    "lname":"Giri",
    "age":"25",
    "gender":"male"
}
print(student)
print(student["fname"])

{'fname': 'Shyam', 'lname': 'Giri', 'age': '25', 'gender': 'male'}
Shyam

In [ ]:
x = 20 % 3
print (x)

2

In [ ]:
num = 20
if num % 2 == 0:
    print ("even")
else:
    print("odd")

even

In [ ]:
year = 2025
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print ("leap year")
else:
    print ("not a leap year")

not a leap year

In [ ]:
num = 44
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

positive

In [ ]:
a = 10
b = 20
c = 15
if (a > b and a > c):
  print(a,"is greatest")
elif (b > a and b > c):
  print(b,"is greatest")
elif (c > a and c > b):
  print(c,"is greatest")
else:
  print ("Values are equal")

20 is greatest

In [ ]:
# functions
#define function
def demoFunction():
    print ("This is a demo function")
#call the function
demoFunction()

This is a demo function

In [ ]:
# function with arguments
def addFunction(a,b):
    print (a+b)

#call function with arguments
addFunction(10,20)

30

In [ ]:
#function with return type
def sumFunction(x,y):
    return x+y

#call the function
total = sumFunction(100,250)
print (total)

350

In [ ]:
def remFunction(x,y):
    return x%y

rem=remFunction(20,3)
print(rem)

2

In [ ]:

def remFunction(a):
  if a%2 == 0:
    return 'even'
  else:
    return 'odd'
#userinput
data = int(input("Enter a number "))
rem=remFunction(data)
print(rem)

Enter a number 23
odd

In [ ]:
def checkFunction(length):
  if(length%2==0):
    return 'even'
  else:
    return 'odd'

#userinput
name = input("Enter your name ");
length = len(name)
check = checkFunction(length)
print (length)
print (check)

Enter your name shubhechchha
12
even

In [ ]:
#loop/iteration

#for loop
# for i in range(10):
#   print (i)
#   print (i+1)

# for i in range(1,21,3):
#   print(i)

# for i in range(11):
#   print(i*10)

# for i in range(1,21):
#   if i%2 == 0:
#     print (i)

sum=0
for i in range(21):
  sum=sum+i
print(sum)

210

In [ ]:
num=4
for i in range(1,11):
  print(num,"*",i,"=",num*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40