<a href="https://colab.research.google.com/github/subupkrl/Assignment/blob/master/DS_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 20
print (x)

20

In [3]:
fname = 'Shubhechchha'
print ("My name is",fname)

My name is Shubhechchha

In [18]:
text = "This is a python course which is essential for Data Science"
print (text[5])
print (text[2:10])
print (text[:10])
print (text[10:])
print (text[:])
print (text[-1])
print (text[-10:-2])

i
is is a
This is a
python course which is essential for Data Science
This is a python course which is essential for Data Science
e
ta Scien

In [29]:
thislist = ["apple","banana","cherry"]
print (thislist[0][0])
print (thislist[0][0:3])

a
app

In [33]:
student ={
    "fname":"Shyam",
    "lname":"Giri",
    "age":"25",
    "gender":"male"
}
print(student)
print(student["fname"])

{'fname': 'Shyam', 'lname': 'Giri', 'age': '25', 'gender': 'male'}
Shyam

In [34]:
x = 20 % 3
print (x)

2

In [35]:
num = 20
if num % 2 == 0:
    print ("even")
else:
    print("odd")

even

In [41]:
year = 2025
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print ("leap year")
else:
    print ("not a leap year")

not a leap year

In [45]:
num = 44
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

positive

In [52]:
a = 10
b = 20
c = 15
if (a > b and a > c):
  print(a,"is greatest")
elif (b > a and b > c):
  print(b,"is greatest")
elif (c > a and c > b):
  print(c,"is greatest")
else:
  print ("Values are equal")

20 is greatest